resource "aws_instance" "NAME" {
    depends_on = [ "DEPENDS_ON" ]
    ami = "${lookup(var.amis, var.aws_region)}"
    instance_type = "${var.aws_instance_type}"
    key_name = "${var.aws_ec2_keypairs.etcd}"
    security_groups = [ "${var.security_groups.etcd}" ]
    # associate_public_ip_address = true: 
    # Error launching source instance: Network interfaces and an instance-level private IP address may not be specified on the same 
    # request (InvalidParameterCombination). Workaround: turn on associate_public_ip_address for each subnet
    private_ip = "${var.private_ip.ZONE}"
    subnet_id = "${var.subnet.ZONE}"
    iam_instance_profile = "registry-profile"
    user_data = <<USER_DATA
    ${file("USERDATAFILE")}
USER_DATA
    
    provisioner "local-exec" {
        # command = "echo ${aws_instance.etcd-a-01.public_ip} > etcd.txt; echo ${aws_instance.etcd-a-01.id}"
        command = "/usr/local/bin/aws ec2 create-tags --resources ${aws_instance.NAME.id} --tags Key=Name,Value=docker-NAME"
    }
}
